<h1>Create a New Gathering</h1>

<%= render partial: 'layouts/errors', locals: {object: @gathering} %>

<%= form_for(@gathering) do |f| %>
    <%if @group%>
        <h2>New Gathering for <%=@group.game_title%></h2>
        <%=f.hidden_field :group_id, value: @group.id%>
    <%else%>
        <h3>Select a Group</h3>
        <%=f.label :group_id%>
        <%= f.collection_select :group_id, Group.all, :id, :game_title, include_blank: true %>
    <% end %>
    <br><br>
    <%= f.label :game_cafe, 'Which Cafe?' %>
    <%= f.select :game_cafe, [
        ['Vigilante', 'Vigilante'], 
        ['Emerald Tavern', 'Emerald Tavern'], 
        ['Dragons Lair', 'Dragons Lair'],
        ['Gaming Goat', 'Gaming Goat']], 
        :include_blank => true %><br><br>
    <%= f.label :day_of_week, 'Which Day?' %>
    <%= f.select :day_of_week, [
        ['Sunday', 'Sunday'], 
        ['Monday', 'Monday'], 
        ['Tuesday', 'Tuesday'],
        ['Wednesday', 'Wednesday'],
        ['Thursday', 'Thursday'],
        ['Friday', 'Friday'],
        ['Saturday', 'Saturday']], 
        :include_blank => true %><br><br>
    <%= f.submit 'Create Gathering' %>
<% end %>