<h1>Create a New Gathering</h1>

<%= render partial: 'layouts/errors', locals: {object: @gathering} %>

<%= form_for(@gathering) do |f| %>
    <%if @group%>
        <h2>New Gathering for <%= @group.game_title %></h2>
        <%=f.hidden_field :group_id, value: @group.id %>
    <%else%>
        <h3>Select a Group</h3>
        <%= f.label :group_id %>
        <%= f.collection_select :group_id, Group.all, :id, :game_title, include_blank: true %>
    <% end %>
    <br><br>
    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit 'Create Gathering' %>
<% end %>