<ul>
<li><h1><%= @gathering.group.game_title %></h1>
<h2><%= @gathering.gamer.username %></h2>
<h3><%= @gathering.game_cafe %></h3>
<h4><%= @gathering.day_of_week %></h4></li>
</ul>
<%= link_to "Edit this Gathering", edit_group_gathering_path(@gathering.group) %>
<br><br>
<%= button_to "Delete Gathering", gathering_path(@gathering), method: :delete %>
