<h1>List of my current gaming group gatherings:</h1>

<ol>
<% @gamer.gatherings.each do |g| %>
    <%= link_to g do %>
        <li><%= g.group.game_title %> meets at <%= g.game_cafe %> on <%= g.day_of_week %>.</li>
    <% end %>
<% end %>
</ol>

<%= link_to 'Create New Gaming Group', new_group_path %>
<br><br>
<%= link_to 'Create a New Gathering', new_gathering_path %>
<br><br>
<%= link_to 'Join a Gaming Group', groups_path %>
<br><br>
<%= link_to 'Join a Gaming Group Gathering', gatherings_path %>