<h1>List of my current gaming groups:</h1>

<ol>
<% @gamer.groups.each do |group| %>
    <li><%= link_to group.game_title, group_path(group) %></li>
<% end %>
</ol>

<%= link_to 'Create New Gaming Group', new_group_path %>
<br><br>
<%= link_to 'Create a New Gathering', new_gathering_path %>
<br><br>
<%= link_to 'List of Gaming Groups', groups_path %>
<br><br>
<%= link_to 'View All Gatherings', gatherings_path %>