<!DOCTYPE html>
<html>
  <head>
    <title>GamingGroupGatherings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to 'Home', root_path %>
  <%= link_to 'My Page', home_path %>
  <%= link_to 'Logout', logout_path, method: 'delete' %>


    <%= yield %>
  </body>
</html>
